
:root{
    --color_Pari: #207db3;
    --color_Dispari: #c98128;
    --color_Pari_hover: #50a8dc;
    --color_Dispari_hover: #dea560;
    --color_Button: #1bb766;
    --color_Button_hover: #4ce093;
    --color_Win: #24e82a;
    --color_Lost: #e67460;
}

.buttons-Pari-Dispari {
    width: 100px;
    font-weight: bold;
}

.buttons_Pari {
    background-color: var(--color_Pari);
    border-radius: 5px 0 0 5px;
    border-right: none;
    margin-left: auto;
    transition: background-color 0.2s;
}

.buttons_Dispari {
    background-color: var(--color_Dispari);
    border-radius: 0 5px 5px 0;
    margin-right: auto;
    transition: background-color 0.2s;
}

.color_Pari {
    color: var(--color_Pari);
}

.color_Dispari {
    color: var(--color_Dispari);
}

.buttons_Pari:hover {
    background-color: var(--color_Pari_hover);
}

.buttons_Dispari:hover {
    background-color: var(--color_Dispari_hover);
}

div.input{
    text-align: center;
    margin: 10px 0;
}

input[type='number']{
    display: block;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

#GoGame {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color_Button);
    font-weight: bold;
    transition: background-color 0.2s;
}

.text_pari{
    color: var(--color_Pari);
}

.text_dispari{
    color: var(--color_Dispari);
}

#GoGame:hover {
    background-color: var(--color_Button_hover);
}

#allertParaghaph > span, #stato_del_esito {
    font-weight: bold;
}

#allertParaghaph > span.win {
    color: var(--color_Win);
}

#allertParaghaph > span.lost {
    color: var(--color_Lost);
}