
:root {
    --color_Button: #1bb766;
    --color_Button_hover: #4ce093;
    --color_Success: #24e82a;
    --color_Outcome: #d39639;
}

input[type='text'] {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
}

#control_button {
    background-color: var(--color_Button);
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.2s;
}

#control_button:hover {
    background-color: var(--color_Button_hover);
}

#paragraph > span {
    font-weight: bold;
}

#paragraph > span#success {
    color: var(--color_Success)
}

#paragraph > span#outcome {
    color: var(--color_Outcome);
}